html { background: #111; }
body { 
    background: #ddd;
    width: 80vw;
    margin: 0 auto;
    padding: 2vw;
    max-width: 400px;
}

h1, h2, h3 {
	font-family: 'Rammetto One', cursive, impact;
	padding: 1vw;
	margin: 1vh auto;
	text-align: center;
}

p {
	font-family: 'Coiny', cursive;
	width: 80%;
	margin: auto;
	margin-bottom: 1vh;
}
ul {
	font-family: 'Playfair Display', serif;
	width: 70%;
	margin: auto;
	margin-top: 1vh;
}
